


.square{
  margin: 570px;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  margin-top : 5%;
  margin-bottom : 2%;
  border: 2px solid  black;
}

.inputVal{
  display: grid;
  justify-content: center;
  align-items: center;
}


.inputVal input{

  height: 30px;
  width: 200px;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 5%;
}


.inputVal button {
  height: 30px;
  width: 210px;
  background-color: sandybrown;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 5%;
}

/* 


@media screen and (max-width:400px) {
  .square{
    margin-left: 88px;
  }
}


@media screen and (max-width:500px) {
  .square{
    margin-left: 140px;
  }
} */